form{
  .rs-uploader-trigger{
    width: 100%;
    margin: 0px;
    .rs-uploader-trigger-btn{
      margin: 0px;
    }
  }
  .rs-input-number.rs-input-group {
      max-width: 100%;
  }

  .inlineHelp{
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  .formHelp {
      border: 1px solid red;
  }
  .previewAvatar{
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    img{
      position: absolute;
      top: 0%;
      left: 0%;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      width: auto;
    }
  }
  .inputThumbnail {
      height: 280px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  .inputGallery {
      height: 132px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
}
